@model QLNhaHang.Models.ViTriCongViec

@{
    Layout = "Header";
    ViewData["Title"] = "ThemViTriCV";
}

<h4>Vị Trí Công Việc</h4>
<hr />
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Thêm Vị Trí Công Việc</h3>
            <form class="form-sample" asp-action="ThemViTriCV" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" asp-for="MaViTriCv">Mã Vị Trí</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" asp-for="MaViTriCv" readonly />
                                <span asp-validation-for="MaViTriCv" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="TenViTriCv">Vị Trí Công Việc</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="TenViTriCv" />
                                <span asp-validation-for="TenViTriCv" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary me-2">Thêm</button>
                <a class="btn btn-light" asp-action="ViTriCongViecList">Quay Lại Danh Sách</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
